$maincolorO: #f9c15c;
$maincolorI: ivory;
$maincolorW: white;
$maincolorB: black;
$maincolorS: rgba(255, 165, 0, 0.5);

$fs1: 3em;
$fs2: 2em;
$fs3: 1.5em;
$fs4: 1.3em;
$fs5: 1em;
$fs6: 0.8em;

@mixin SmallBtn($color) {
  background: none;
  border: none;
  font-size: $fs6;
  color: $color;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
@mixin BigBtn($color, $bgcolor) {
  margin: 0;
  border: none;
  border-radius: 50px;
  height: 5rem;
  width: 20rem;
  font-size: 2.3rem;
  cursor: pointer;
  color: $color;
  background-color: $bgcolor;
}
@mixin ModalBack() {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(99, 99, 99, 0.466);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
@mixin Modal() {
  min-width: 20%;
  min-height: 15%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.801);
  padding: 40px 30px 30px 30px;
  text-align: center;
}

// ---------------------------------------------------Common Style

body,
html {
  margin: auto;
  box-sizing: border-box;
  background-color: $maincolorO;
}
.Container {
  position: relative;
  margin: auto;
  width: 85vw;
  height: 85vh;
  border-radius: 50px;
  background-color: $maincolorI;
  margin-top: 2%;
  padding-bottom: 3%;
  padding-right: 3%;
  box-shadow: 3px 7px 5px 9px rgba(0, 0, 0, 0.25);
}
ul,
li {
  list-style: none;
  padding: 0;
}
form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
}

input[type="search"]::-ms-clear {
  display: none;
}

// ---------------------------------------------------Home Style
.Background {
  position: relative;
  margin: auto;
  width: 86vw;
  height: 86vh;
  border-radius: 50px;
  background-image: url(../src/BackgroundImage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3%;
  padding-right: 3%;
}
.HomeDiv {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .JoinBtn {
    @include BigBtn($maincolorW, $maincolorO);
    margin-top: 2rem;
  }
  .LoginBtn {
    @include BigBtn($maincolorB, $maincolorW);
    margin-top: 2rem;
  }
}
.HomeH1 {
  font-size: $fs1;
  margin: 0;
}
.RegisterDiv {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .JoinBtn {
    @include BigBtn($maincolorW, $maincolorO);
    margin-top: 2rem;
  }
  input {
    border: none;
    border-radius: 50px;
    height: 5rem;
    width: 20rem;
    padding-left: 2rem;
    font-size: 2rem;
    box-sizing: border-box;
    margin-top: 1rem;
  }
}
.LoginDiv {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .LoginBtn {
    @include BigBtn($maincolorB, $maincolorW);
    margin-top: 2rem;
  }
  input {
    border: none;
    border-radius: 50px;
    height: 5rem;
    width: 20rem;
    padding-left: 2rem;
    font-size: 2rem;
    box-sizing: border-box;
    margin-top: 1rem;
  }
  .LoginBtn {
    margin-top: 2rem;
  }
}
// ---------------------------------------------------Header Style
.HeaderDiv {
  width: 100%;
  height: 100%;
  background-color: none;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  border-radius: 50px 50px 0px 0px;
  .LogoDiv {
    .LogoH2 {
      font-size: $fs2;
      padding-left: 15%;
      width: 100%;
      color: $maincolorO;
    }
  }
  .MyBtnDiv {
    cursor: pointer;
  }
  .MyBtn {
    color: black;
    height: 30%;
    width: 100%;
    font-size: $fs4;
    position: absolute;
    left: 88%;
    top: 40px;
  }
  .MyImg {
    background-image: url("https://image.freepik.com/free-vector/cartoon-chef-show-ok_61878-753.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 40px;
    height: 40px;
    border: 2px solid $maincolorB;
    border-radius: 50%;
    position: absolute;
    left: 83%;
    top: 30px;
  }
  .MyMenu {
    position: relative;
    right: 0;
    background-color: $maincolorO;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: $fs3;
    text-align: center;
    border-radius: 30px;
    z-index: 90;
  }
}
.InfoMyImg {
  background-image: url("https://image.freepik.com/free-vector/cartoon-chef-show-ok_61878-753.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 80px;
  height: 80px;
  border: 2px solid $maincolorB;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
}
.InfoMyBtn {
  color: black;
  height: 30%;
  font-size: $fs4;
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
}
.InfoMyMenu {
  cursor: pointer;
}
.InfoList {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 4rem;
  li {
    width: 300px;
    cursor: pointer;
    &:hover {
      margin: auto;
      background-color: $maincolorS;
    }
  }
}
// ---------------------------------------------------Nav Style
.NavDiv {
  display: inline-block;
  width: 160px;
  text-align: center;
  position: absolute;
  top: 20%;
  li {
    font-size: $fs4;
    line-height: $fs2;
    padding: $fs5;
    cursor: pointer;
    &:hover {
      background: $maincolorS;
      border-radius: 30px;
      color: $maincolorI;
    }
    &:hover .icon {
      fill: $maincolorI;
    }
  }
}
.menuicon {
  display: none;
}
// ---------------------------------------------------Main Style
.MainDiv {
  background-color: $maincolorI;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  .Contents {
    position: relative;
    top: 15%;
    left: 60%;
    transform: translateX(-52.5%);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2%;
    width: 69vw;
    height: 63vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      /* 스크롤바 넓이 */
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      /* 스크롤바 트랙 */
      background-color: $maincolorO;
      border-radius: 50px;
    }
    &::-webkit-scrollbar-thumb {
      /* 스크롤바 */
      background-color: orange;
      border-radius: 50px;
    }

    .Mainlistdiv {
      position: relative;
      width: 250px;
      height: 350px;
      background-color: $maincolorO;
      box-shadow: 3px 4px 2px #6c4806;
      border-radius: 20px;
      margin-bottom: 20%;
      .icon {
        position: absolute;
        right: 10px;
        top: 10px;
        fill: red;
        font-size: 25px;
      }
      &:hover .Mainlisth3 {
        color: black;
      }
      &:hover .Maintagh4 {
        color: black;
      }
      .Mainlisth3 {
        font-size: $fs4;
        top: 200px;
        line-height: $fs5;
        color: $maincolorI;
        margin: 10px 0 15px 15px;
      }
      .Maintagh4 {
        top: 200px;
        font-size: $fs5;
        line-height: 1.2rem;
        color: $maincolorI;
        margin: 0 0 0 15px;
      }
      .mainimg {
        width: 250px;
        height: 250px;
        box-shadow: 2px 0px 2px #6c4806;
        border-radius: 20px 20px 0px 0px;
      }
    }
  }
}

// ---------------------------------------------------Detail Style
.DetailDiv {
  width: 75%;
  height: 70vh;
  position: absolute;
  top: 15%;
  left: 15%;
  display: flex;
  flex-direction: column;
  padding: 1% 4%;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    /* 스크롤바 넓이 */
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    /* 스크롤바 트랙 */
    background-color: $maincolorO;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-thumb {
    /* 스크롤바 */
    background-color: rgb(255, 115, 0);
    border-radius: 50px;
  }
  .DetailTitleh1 {
    font-size: $fs2;
  }
  .DetailDateh4 {
    font-size: $fs4;
    padding-left: 30px;
    // float: left;
  }
  .DetailBtnDiv {
    text-align: right;
    margin-right: 5%;
    .DetailBtn {
      @include SmallBtn(black);
      padding: 0 10px;
      &::before {
        content: "|";
        color: black;
        padding-right: 15px;
      }
      &:first-child::before {
        content: "";
      }
    }
  }
  .DetailTagh3 {
    font-size: $fs3;
    text-align: center;
  }
  .DetailContentsDiv {
    padding: 5%;
  }
  .DetailContentsP {
    white-space: pre-wrap;
    font-size: $fs3;
    line-height: $fs1;
    letter-spacing: -0.03em;
  }
}
// ---------------------------------------------------Modal Style
.ModalBackDiv {
  @include ModalBack();
  .ModalDiv {
    @include Modal();
  }
  .DelBtn {
    color: red;
  }
}

// ---------------------------------------------------Search Style
.SearchBackDiv {
  width: 100%;
  height: 150px;
  position: relative;
  display: inline-block;
  .SearchDiv {
    .SearchBox {
      left: 50%;
      transform: translateX(-50%);
      display: block;
      position: absolute;
      width: 350px;
      height: 100px;
      padding: 20px 40px;
      border: 2px solid $maincolorO;
      border-radius: 15px;
      font-size: $fs3;
      font-weight: bold;
      letter-spacing: 0.2em;
    }
    .GosearchBtn {
      @include SmallBtn($maincolorO);
      font-size: $fs2;
      position: relative;
      top: 30px;
      right: -63%;
    }
  }
}
// ---------------------------------------------------Edit Style
.EditDiv {
  width: 84%;
  height: 70vh;
  position: absolute;
  top: 15%;
  left: 56%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  .EditTitle {
    font-size: $fs4;
    line-height: 4%;
    width: 80%;
    height: 10px;
    padding: 4%;
    margin: auto;
    border: 2px solid black;
  }
  .EditTagDiv {
    display: flex;
    flex-direction: column;
    .EditTag {
      font-size: $fs4;
      line-height: 4%;
      width: 80%;
      height: 100%;
      padding: 4%;
      margin: auto;
      margin-top: 5px;
      border: 2px solid black;
    }
    .EditTagShowDiv {
      text-align: center;
    }
    .hash {
      background: none;
      border: 1px solid black;
      margin-top: 5px;
      margin-right: 2px;
      cursor: pointer;
      &:hover {
        background-color: gray;
      }
    }
  }
  .EditContents {
    width: 80%;
    height: 100%;
    padding: 4%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid black;
    font-size: $fs4;
  }
  .EditBtnDiv {
    text-align: right;
    .favoriteDiv {
      float: left;
      margin-left: 10%;
      .icon {
        vertical-align: sub;
        cursor: pointer;
      }
    }
    .EditBtn {
      border-radius: 14px;
      background-color: $maincolorO;
      color: $maincolorI;
      border: none;
      height: 30px;
      width: 70px;
      font-size: $fs3;
      cursor: pointer;
      margin-right: 10%;
    }
  }
}
// ---------------------------------------------------MyPage Style

.MyPageDiv {
  width: 84%;
  height: 70vh;
  position: absolute;
  top: 15%;
  left: 56%;
  transform: translateX(-50%);
}
// --------------------------------------------------- media query

@media screen and (max-width: 1000px) {
  .menuicon {
    display: inline-block;
    position: fixed;
    top: 60px;
    right: 95px;
    font-size: $fs2;
  }
  .NavDiv {
    display: none;
  }
  .MyImg {
    display: none;
  }
  .MyBtn {
    display: none;
  }
  .MainDiv {
    .Contents {
      left: 50%;
      transform: translateX(-50%);
      &::-webkit-scrollbar {
        display: none;
      }
      .Mainlistdiv {
        width: 180px;
        height: 350px;
        .mainimg {
          width: 180px;
          height: 350px;
          border-radius: 20px;
        }
        .Mainlisth3 {
          position: relative;
          top: 0px;
          font-size: $fs3;
          color: $maincolorI;
        }
        .Maintagh4 {
          position: relative;
          top: 20px;
          font-size: $fs4;
          color: $maincolorI;
          margin: 0 0 0 20px;
        }
      }
    }
  }
  .EditDiv {
    left: 50%;
  }
}
